
/* Common style */
body
{
    font-family: 'Poppins', sans-serif;
}


/* mobile responsiveness */

@media screen and (max-width: 480px) 
{
    .top-banner-section {
        background-color: black;
        margin: auto;
        width: 100%;
    }

    /* main section */
    .main-blog {
        grid-template-columns: repeat(1, 1fr);
        background-color: #DD0000;
    }
    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-btns {
        background-color: white;
        width: 100%;
        margin: auto;
        border: 0px;
    }
  

    /* footer section */
    .footer-text {
        flex-direction: column;
        width: auto;
    }
}

/* Tablet Responsiveness */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .top-banner-section {
        width: 100%;
        margin: auto;
    }
    /* main section style */
    .main-blog {
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }

    .blog-btns {
        background-color: white;
        display: flex;
    }

    .blog-button {
        margin-left: 22px;
        width: 230px;
        height: 64px;
        border: 0px solid red;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;

    }
      /* footer section */
      .footer-text {
        flex-direction: column;
    }
}
/* header section style starts */
.top {
    background-color: black;
    border-radius: 30px;
    color: white;
}

.top-banner-section {
    display: flex;
    justify-content: baseline;
    padding: 50px 80px;
}

.top-banner-img {
    transition: transform .2s;
}

.top-banner-section:hover .top-banner-img {
    transform: scale(0.5);
}

.top-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-info h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

.top-btn {
    background-color: #DD0000;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-btn a {
    text-decoration: none;
    color: white;
}

/* main section style */
.main-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    margin: 130px 0px;
    width: 1321px;
}

.blog-btns {
    background-color: black;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
}

.blog-button {
    height: 64px;
    border-radius: 5px;
}

.blog-button a {
    color: black;
    text-decoration: none;
}

.pink-btn {
    background-color: #DD0000;
}

.pink-btn a {
    color: white;
    text-decoration: none;
}

/* Blogs style */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.blog-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 242px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.blog-img {
    display: flex;
}

.blog-img img {
    padding: 5px;
}

/* footer section styles */
.footer-goal {
    background-color: black;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px 140px;
}

.footer-goal div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-heading {
    border-bottom: 1px solid white;
    width: 100%;
}

.footer-text p {
    margin-left: 10px;
    padding: 5px;
}

.footer-icon i,
a {
    margin-left: 5px;
    padding: 3px;
    text-decoration: none;
    color: white;
}
